@font-face {
    font-family: 'Hagrid Text Trial';
    src: url('HagridTextTrial-Extrabold.woff2') format('woff2'),
        url('HagridTextTrial-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

